<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" size="medium" color="#fff" type="square-jelly-box">
    <p style="font-size: 20px; color: white">S'il vous plaît, attendez...</p>
</ngx-spinner>
<div style="background-color: #e3b04b;" class="pt-10 pb-21"></div>
<div class="container-fluid mt-n22 px-6">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mb-2 mb-lg-0">
                        <h5 class="mb-0 fw-bold text-white">Welcome:</h5>
                    </div>
                    <div>
                        <!-- <a href="#" class="btn btn-white">Create New Project</a> -->
                        <a class="logout" style="cursor: pointer;" (click)="logout()">log out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-6">
        <div class="col-md-12 col-12">
            <!-- card  -->
            <div class="card">
                <!-- card header  -->
                <div class="card-header bg-white border-bottom-0 py-4">
                    <div class="mb-2 mb-lg-0">
                        <div class="icon-shape icon-md bg-light-primary text-primary rounded-1">
                            <fa-icon [icon]="faPlusSquare" class="fs-4" style="cursor: pointer;"></fa-icon>
                        </div>
                        <div style="padding-bottom: 10px;"></div>
                        <h4 class="mb-0">Found Documents</h4>
                    </div>                    
                </div>
                <!-- table  -->
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Document Type</th>
                                <th>Description</th>
                                <th>Found By</th>
                                <th>Doc First name</th>
                                <th>Doc Last name</th>
                                <th>Date Found</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let foundDocument of foundDocuments | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td class="align-left">{{foundDocument.documentType}}</td>
                                <td class="align-left">{{foundDocument.description}}</td>
                                <td class="align-left">{{foundDocument.lostBy}}</td>
                                <td class="align-left">{{foundDocument.firstname}}</td>
                                <td class="align-left">{{foundDocument.lastname}}</td>
                                <td class="align-left">{{foundDocument.dateFound | date:'medium'}}</td>
                            </tr>
                        </tbody>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>