.user_name {
  color: #afafaf;
}

.message {
  padding: 10px !important;
  transition: all 250ms ease-in-out !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;
}

.mymessage {
  background: #007aff !important;
  color: white !important;
  border-top-right-radius: 0px !important;
}

.othermessage {
  background: #c7c7cc !important;
  color: #000 !important;
  border-top-left-radius: 0px !important;
}

.time {
  color: #afafaf;
  float: right;
  font-size: small;
}

.message_row {
  background-color: #fff;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
