<div
  style="background-image: url(../../assets/images/background-header.jpg)"
  class="pt-10 pb-21"
></div>
<div class="container-fluid mt-n22 px-6">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="mb-2 mb-lg-0">
            <h5 class="mb-0 fw-bold text-white">Welcome: {{ userType }}</h5>
          </div>
          <div>
            <a class="logout" (click)="logout()" style="cursor: pointer"
              >log out</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card rounded-3">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Registered Users</h4>
            </div>
            <div
              style="background-color: white !important"
              class="icon-shape icon-md bg-light-primary text-primary rounded-1"
            >
              <fa-icon
                [icon]="faUsers"
                class="faUsers"
                style="cursor: pointer"
              ></fa-icon>
            </div>
          </div>
          <!-- project number -->
          <div>
            <h1 class="fw-bold">{{ users.length }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card rounded-3">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Current User Devices</h4>
            </div>
            <div
              style="background-color: white !important"
              class="icon-shape icon-md bg-light-primary text-primary rounded-1"
            >
              <fa-icon
                [icon]="faTablet"
                class="faUsers"
                style="cursor: pointer"
                (click)="navigateTo('view-devices')"
              ></fa-icon>
            </div>
          </div>
          <!-- project number -->
          <div>
            <h1 class="fw-bold">{{ devices.length }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card rounded-3">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Recycling Companies</h4>
            </div>
            <div
              style="background-color: white !important"
              class="icon-shape icon-md bg-light-primary text-primary rounded-1"
            >
              <fa-icon
                [icon]="faRecycle"
                class="faUsers"
                style="cursor: pointer"
                (click)="navigateTo('view-recycles')"
              ></fa-icon>
            </div>
          </div>
          <!-- project number -->
          <div>
            <h1 class="fw-bold">{{ recycles.length }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card rounded-3">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Repair Companies</h4>
            </div>
            <div
              style="background-color: white !important"
              class="icon-shape icon-md bg-light-primary text-primary rounded-1"
            >
              <fa-icon
                [icon]="faWrench"
                class="faUsers"
                style="cursor: pointer"
                (click)="navigateTo('view-repairs')"
              ></fa-icon>
            </div>
          </div>
          <div>
            <h1 class="fw-bold">{{ repairs.length }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card rounded-3">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Recycle Notification</h4>
            </div>
            <div
              style="background-color: white !important"
              class="icon-shape icon-md bg-light-primary text-primary rounded-1"
            >
              <fa-icon
                [icon]="faBell"
                class="faUsers"
                style="cursor: pointer"
                (click)="navigateTo('view-notifications')"
              ></fa-icon>
            </div>
          </div>
          <!-- project number -->
          <div>
            <h1 class="fw-bold">{{ size }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12 col-12 mt-6">
      <!-- card -->
      <div class="card rounded-3">
        <!-- card body -->
        <div class="card-body">
          <!-- heading -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <h4 class="mb-0">Warantee Notification</h4>
            </div>
            <div
              style="background-color: white !important"
              class="icon-shape icon-md bg-light-primary text-primary rounded-1"
            >
              <fa-icon
                [icon]="faAlignJustify"
                class="faUsers"
                style="cursor: pointer"
                (click)="navigateTo('view-warantees')"
              ></fa-icon>
            </div>
          </div>
          <!-- project number -->
          <div>
            <h1 class="fw-bold">{{ warantees.length }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row  -->
  <div class="row mt-6">
    <div class="col-md-12 col-12">
      <!-- card  -->
      <div class="card">
        <!-- card header  -->
        <div class="card-header bg-white border-bottom-0 py-4">
          <h4 class="mb-0">Registered users</h4>
        </div>
        <!-- table  -->
        <div class="table-responsive">
          <table class="table text-nowrap mb-0">
            <thead class="table-light">
              <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Cellphone</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let user of users
                    | paginate: { itemsPerPage: 10, currentPage: p }
                "
              >
                <td>
                  <h5 class="ms-3 lh-1">
                    <a style="cursor: pointer" class="text-inherit">{{
                      user.name
                    }}</a>
                  </h5>
                </td>
                <td class="align-left">{{ user.lastname }}</td>
                <td class="align-left">{{ user.cellphone }}</td>
                <td class="align-left">{{ user.email }}</td>
                <td class="align-left">
                  <div class="icon-shape icon-xs">
                    <fa-icon
                      [icon]="faTrash"
                      style="cursor: pointer"
                      (click)="delete(user)"
                    >
                    </fa-icon>
                  </div>
                </td>
              </tr>
            </tbody>
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
